/* Main fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

/* Global variables */
:root {
  --main-font: "IBM Plex Mono", monospace;
  --heading-font: "Rowdies", sans-serif;
  --primary-color: #31A88A;
  --primary-dark-color: #00321D;
  --primary-light-color: #C8FCEA;
  --secondary-color: #4B50C4;
  --secondary-dark-color: #484554;
  --secondary-light-color: #F3ECFF;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --base-font-size: 16px;
}

/* Global styles */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-dark-color);
  font-family: var(--main-font);
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-family: var(--heading-font);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-dark-color);

  &:hover {
    color: var(--secondary-color);
  }
}